{% extends "layout.html" %}

{% block header %}
	Album Photos 
{% endblock %}

{% block breadcrumb %}
	
	<div class="ui huge breadcrumb">
		<a class="section" href="/album">Album</a>
		<i class="right arrow icon divider"></i>
		<a class="section" href="#">Photo</a>
		<i class="right arrow icon divider"></i>
		<div class="active section">edit</div>
	</div>	
		
{% endblock %}


{% block content %}
<div class="ui middle aligned column grid segment">
		<div class="row">
			<div class="column">
				<div class="ui small form">
					<form action="/photo/edit" method="post">
						<input type="hidden" name="id" value="{{photo.id}}">
						<div class="field">
							<label for="legend">Legend</label>
							<div class="ui left labeled input">
								<textarea name="legend" id="legend" cols="30" rows="10" placeholder="Legend...">{{photo.legend}}</textarea>
							</div>
						</div>
						<div class="ui right floated wide column">
							<button type="submit" class="ui green button">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}