{% extends "layout.html" %}

{% block header %}
	Album Photos - 
	<a href="/photo/add" class="green ui labeled icon button">
    	<i class="signup icon"></i>
        add
    </a>
{% endblock %}

{% block breadcrumb %}
	
	<div class="ui huge breadcrumb">
		<a class="section" href="/album">Albums</a>
		<i class="right arrow icon divider"></i>
		<a class="section" href="#">Photos</a>
		<i class="right arrow icon divider"></i>
		<div class="active section">list</div>
	</div>	
		
{% endblock %}

{% block content %}
	
	{% for type, flashMessages in app.session.flashbag.all() %}
	    {% for flashMessage in flashMessages %}
	        <div class="ui {{type}} message">
				<i class="close icon"></i>
				<div class="header">
					{{ flashMessage }}
				</div>
			</div>
	    {% endfor %}
	{% endfor %}

	<div class="ui middle aligned four column grid segment">
		<div class="row">
		{% for p in photos %}
			<div class="column">
				<div class="ui medium images">
					<a href="/upload/{{p.photo}}" data-lightbox="roadtrip" title="{{p.legend}}">
						<img class="ui rounded image"  src="/upload/{{p.photo}}" />
					</a>
				</div>
				<div class="ui text-center">
					<div class="ui buttons">
						
						<a class="ui button blue" href="/photo/edit/{{p.id}}" alt="Edit" title="Edit">
							<i class="edit icon"></i>
						</a>
						
						<div class="or"></div>
				
				 		<a class="ui button red" href="/photo/delete/{{p.id}}" onclick="confirm('Delete album?');" alt="Delete" title="Delete">
				 			<i class="remove icon"></i>
				 		</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	
{% endblock %}