<!doctype html>
<html>
<head>
	<title>{% block title %} Album Photos {% endblock %}</title>
	<link rel="stylesheet" href="/assets/css/semantic.min.css" />
	<link rel="stylesheet" href="/assets/css/lightbox.css" />
	<link rel="stylesheet" href="/assets/css/album.css" />
</head>
<body>
	<header>
		<div class="ui grid">
			<div class="row">
				<div class="ui aligned center column segment">
					<h1>
					{%block header%} Album Photos {%endblock%}
					</h1>	
				</div>
			</div>
			<div class="row">
				<div class="ui aligned center column segment">
					{% block breadcrumb %}
					{% endblock %}		
				</div>
			</div>
		</div>
	</header>
	
	<section class="ui grid">
		<div class="row">
			<div class="column">
			{%block content%}
			
			{%endblock%}	
			</div>
		</div>
	</section>
	
	<footer class="ui grid segment footer" style="margin: 30px;">
		<div class="row">
			<div class="column">
				<div class="text-center"> Developed by <strong>Fernando Mariano</strong></div>	
			</div>
		</div>
	</footer>
	<script src="/assets/js/jquery-1.10.2.min.js"></script>
	<script src="/assets/js/semantic.min.js"></script>
	<script src="/assets/js/lightbox-2.6.min.js"></script>
	<script src="/assets/js/album.js"></script>
</body>
</html>