{% extends "layout.html" %}

{% block content %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}
	    <div class="ui success message">
			<i class="close icon"></i>
			<div class="header">
				{{ flashMessage }}
			</div>
		</div>
	{% endfor %}
	<div class="ui two column grid">
		<div class="column">
			<div class="ui fluid form segment">
				<h3 class="ui header">Log-in</h3>
				<div class="field">
					<label for="Login">Login</label>
					<div class="ui left labeled input">
						<input placeholder="Login" type="text" id="Login" name="login">
						<div class="ui corner label">
					    	<i class="icon asterisk"></i>
					    </div>
					</div>
				</div>
				<div class="field">
					<label for="Password">Password</label>
					<div class="ui left labeled input">
						<input type="password" placeholder="Password" id="Password" name="password">
						<div class="ui corner label">
					    	<i class="icon asterisk"></i>
					    </div>
					</div>
				</div>
				<div class="ui right floated wide column">
					<button type="submit" class="ui green button">Login</button>
				</div>
			</div>
		</div>

	  	<div class="column">
			<div class="ui fluid form segment">
				<h3 class="ui header">Register</h3>
				<form action="user/add" method="post">
					<div class="field">
						<label for="name">Name</label>
						<div class="ui left labeled input">
							<input placeholder="Name" type="text" id="name" name="name">
							<div class="ui corner label">
						    	<i class="icon asterisk"></i>
						    </div>
						</div>
					</div>
					<div class="field">
						<label for="login" >Login</label>
						<div class="ui left labeled input">
							<input placeholder="Login" type="text" id="login" name="login">
							<div class="ui corner label">
						    	<i class="icon asterisk"></i>
						    </div>
						</div>
					</div>
					<div class="field">
						<label for="password">Password</label>
						<div class="ui left labeled input">
							<input type="password" id="password" placeholder="Password" name="password">
							<div class="ui corner label">
						    	<i class="icon asterisk"></i>
						    </div>
						</div>
					</div>
					
					<div class="ui right floated wide column">
						<button type="submit" class="ui green button">Sign Up!</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}